<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="优惠券明细" class="color-gray-background">
    <ion-content>
        <div style="background-color: #e42012">
            <div class="row">
                <img src="img/doubletuan.png" class="doubletuan-logo default-content-margin">

                <p class="font-white" style="margin-left: 5px">{{card.sponsor}}</p>
            </div>
            <div class="row">
                <h3 style="white-space: nowrap;" class="font-white">{{card.name}}</h3>
            </div>
            <div class="row font-gray default-content-margin" style="text-align: center">
                有效期至：{{card.deadline}}
            </div>
        </div>

        <div><p class="default-content-margin">优惠区域</p></div>
        <div class="color-white-background">
            <div class="default-content-margin">{{card.region}}</div>
        </div>

        <div><p class="default-content-margin">使用规则</p></div>
        <div class="color-white-background">
            <div class="default-content-margin">{{card.rule}}</div>
        </div>

        <div><p class="default-content-margin">查询订单</p></div>
        <div class="color-white-background">
            <div class="default-content-margin">{{card.queryMethod}}</div>
        </div>

        <div><p class="default-content-margin">客服电话</p></div>
        <div class="color-white-background">
            <div class="default-content-margin">{{card.servicePhone}}</div>
        </div>

        <div class="row">
            <button class="button button-block button-positive" ng-click="userGetCoupons(card.id)">
                领取
            </button>
        </div>

    </ion-content>

</ion-view>
