<ion-view view-title="优惠券明细">
    <ion-content class="padding background-whole " overflow-scroll="true">
        <div class="title-background">

            <div class="row">
                <b class="text-center-title-big-size">{{card.sponsor}}</b>
            </div>
            <div class="row">
                <p class="text-center-title-medium-size">{{card.name}}</p>
            </div>

            <div class="row">
                <p class="text-center-title-small-size">有效期至：{{card.deadline}}  领取日期：{{card.receivedTime}}</p>
            </div>
            <div class="row code-background item-input">

                <div class="col-50">
                    <p class="font-white code-title">优惠码：</p>
                </div>
                <div class="col-30">
                    <input type="text" ng-model="card.code">
                </div>
                <div class="col-20">
                    <button class="button button-positive" style="border-radius: 50%; margin-top: 10px" ng-click="useCoupons()">使用</button>
                </div>

            </div>
        </div>

        <div class="details-background padding">
            <div class="title-margin title-color detailed-title">
                <b class="default-content-margin">优惠区域</b>
            </div>

            <div class="default-content-margin">{{card.region}}</div>
            <div class="title-margin title-color detailed-title">
                <b class="default-content-margin" style="margin-bottom: 0px;">使用规则</b>
            </div>
            <div >
                <div class="default-content-margin">{{card.rule}}</div>
            </div>

            <div class="title-margin title-color detailed-title">
                <b class="default-content-margin" style="margin-bottom: 0px;">查询订单</b>
            </div>
            <div >
                <div class="default-content-margin">{{card.queryMethod}}</div>
            </div>

            <div class="title-margin title-color detailed-title">
                <b class="default-content-margin" style="margin-bottom: 0px;">客服电话</b>
            </div>
            <div >
                <div class="default-content-margin">{{card.servicePhone}}</div>
            </div>
        </div>
        <br>

    </ion-content>

</ion-view>
