<ion-view view-title="优惠券明细" class="color-gray-background">
    <ion-content style="background-image: url(img/card/bg_03.png); background-position: center center" class="padding">
        <div>
            <img src="img/card/bg_04.png" width="100%">

            <div class="row card-title-margin">
                <p class="text-center-title-big-size">{{card.sponsor}}</p>
            </div>
            <div class="row" style="margin-top: -10px; font-size: 20px">
                <p class="text-center-title-medium-size">{{card.name}}</p>
            </div>
            <div class="row font-gray" style="text-align: center">
                有效期至：{{card.deadline}} 领取日期：{{card.receivedTime}}
            </div>

            <div class="row">
                <h1 style="white-space: nowrap; text-align: center; margin-top: 20px;">{{card.code}}</h1>
            </div>
        </div>

        <div class="details-background">
            <div class="title-margin title-color detailed-title">
                <b class="default-content-margin">优惠区域</b>
            </div>

            <div class="default-content-margin">{{card.region}}</div>
            <div class="title-margin title-color detailed-title">
                <b class="default-content-margin" style="margin-bottom: 0px;">使用规则</b>
            </div>
            <div >
                <div class="default-content-margin">{{card.rule}}</div>
            </div>

            <div class="title-margin title-color detailed-title">
                <b class="default-content-margin" style="margin-bottom: 0px;">查询订单</b>
            </div>
            <div >
                <div class="default-content-margin">{{card.queryMethod}}</div>
            </div>

            <div class="title-margin title-color detailed-title">
                <b class="default-content-margin" style="margin-bottom: 0px;">客服电话</b>
            </div>
            <div >
                <div class="default-content-margin">{{card.servicePhone}}</div>
            </div>
        </div>
        <br>

    </ion-content>

</ion-view>
