<ion-view view-title="领取卡券" hide-nav-bar="true">
    <ion-content class="padding">
        <!-- ng-show="card.isReceived == 0"-->
        <div class="list card" ng-repeat="card in cards" ng-show="card.isReceived == 0">
            <div class="item {{card.css}} row content-padding">
                <div class="col col-80" ng-click="pickupCouponsOrGotoLink(card.id)">
                    <div class="coupons-title" style="text-align: center; word-wrap: normal; color: #ffffff; font-size: 15px;">{{card.name}}</div>
                    <br>
                    <h3 ng-if="card.deadline" class="font-expiration-date" style="text-align: center;color: #ffffff">有效期至{{card.deadline}}</h3>
                </div>

                <div class="col col-20">
                    &nbsp;<a class="get-coupon-link" ng-click="userGetCoupons(card.id)" href="#">立即<br>&nbsp;领取</a>
                </div>
            </div>
        </div>
        <div class="list" ng-if="!cards || cards.length == 0" style="vertical-align: middle !important;">
            <br><br><br><br><br><br>
            <div class="row">
                <div class="col col-25"></div>
                <div class="col col-50 nothing">

                </div>
                <div class="col col-25"></div>
            </div>

            <div class="row" style="margin-top: 0.9rem;">
                <div class="col col-25"></div>
                <div class="col col-50" style="text-align: center; color: #D8D8D8; font-size: 1rem">
                    今日优惠券已领取
                </div>
                <div class="col col-25"></div>
            </div>
        </div>
    </ion-content>
</ion-view>