<ion-view view-title="领取卡券">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="card in cards" type="item-text-wrap" href="#/carddetail/1">
        <img src="img/doubletuan.png" />
        <h2>{{card.name}}</h2>
        <p>{{card.deadline}}截至</p>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-calm" ng-click="remove(card)">
          收了
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
