<ion-view view-title="领取卡券">
    <ion-content>
        <ion-list>
            <ion-item class="padding item-remove-animate item-avatar item-icon-right card-background" ng-repeat="card in cards" type="item-text-wrap"
                 href="#/carddetail/{{card.id}}">
                <h2>{{card.name}}</h2>

                <p>截至{{card.deadline}}</p>
                <i class="icon ion-chevron-right icon-accessory" style="color: red;"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>