.lead-title {
    font-size: 20px;
}

.background-whole {
    background-image: url(../img/card/bg_03.png);
    background-size: cover
}

.default-content-margin {
    margin-left: 5px;
    margin-top: 5px;
    font-size: 16px;
}

.font-white {
    color: #ffffff
}

.color-white-background {
    background-color: #ffffff;
    border-radius: 5px;
}

.color-blue-background {
    background-color: #14b5e1
}

.color-gray-background {
    background-color: #efeeeb
}

.color-black-background {
    background-color: #333333
}

.title-margin {
    margin-top: 10px;
    text-align: center;
    width: 40%;
}

.title-color {
    margin-top: 5px;
}

.card-background {
    background-image: url(../img/card/bg_01.png);
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    background-size: 100%;
}

.card-title-margin {
    font-color: #ffac00;
}

.mycard-background {
    background-image: url(../img/card/bg_01.png);
    background-size: cover;
}

.title-background {
    margin-top: 10px;
    width: 100%;
    background-image: url(../img/bg_01.png);
    background-size: cover;
}

.text-center-title-big-size {
    width: 100%;
    color: #ffac00;
    text-align: center;
    white-space: nowrap;
    font-size: 20px;
    margin-top: 5px;

}

.text-center-title-medium-size {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    font-size: 15px;
    margin-top: 8px;
    color: #444444;
}

.text-center-title-small-size {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    text-overflow: clip;
    margin-top: -3px;
}

.detailed-title {
    background-image: url(../img/ic_01.png);
    background-repeat: no-repeat;
    background-position: left;
}

.details-background {
    background-color: #ffffff;
    margin-top: 0px;
}

.code-background {
    background-color: red;
    text-align: center;
    vertical-align: middle;
}

.code-value-background {
    background-color: #777777;
    color: white;
    margin-top: 10px;
}

.code-title {
    margin-top: 8px;
    margin-left: 20%;
}

.button-background {
    background-image: url(../img/card/bt_01.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.singlecard-background {
    background-image: url(../img/card/bg_01.png);
    background-size: cover;
}

.use-coupons-button {
    margin-left: 20px;
    margin-top: 10px;
    max-height: 30px;
    min-height: 30px;

}

/*家政宝*/
.mycard-style-2 {
    background-image: url(../img/bg_mine_bg01.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*生活宝*/
.mycard-style-1 {
    background-image: url(../img/bg_mine_bg02.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*商旅宝*/
.mycard-style-3 {
    background-image: url(../img/bg_mine_bg03.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*爱车宝*/
.mycard-style-4 {
    background-image: url(../img/bg_mine_bg04.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*生活缴费*/
.mycard-style-5 {
    background-image: url(../img/bg_mine_bg05.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*生活秘籍*/
.mycard-style-6 {
    background-image: url(../img/bg_mine_bg06.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*家政宝*/
.getcard-style-1 {
    background-image: url(../img/bg_receive_bg01.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*生活宝*/
.getcard-style-2 {
    background-image: url(../img/bg_receive_bg02.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*商旅宝*/
.getcard-style-3 {
    background-image: url(../img/bg_receive_bg03.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*爱车宝*/
.getcard-style-4 {
    background-image: url(../img/bg_receive_bg04.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*生活缴费*/
.getcard-style-5 {
    background-image: url(../img/bg_receive_bg05.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*生活秘籍*/
.getcard-style-6 {
    background-image: url(../img/bg_receive_bg06.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.coupons-title {
    text-align: center;
    color: white;
    word-wrap: break-word;
    height: 70%;
    font-size: 20px;
    vertical-align: middle !important;
    margin-top: 12px;
}

.font-expiration-date {
    font-size: 15px;
    color: white;
    vertical-align: bottom !important;
    height: 30%;
}

.arrow-detail-title {
    width: 15px;
    height: 12px;
    margin-top: 10px;
}

.single-detail-font {
    font-size: 15px
}

.submit-button {
    background-color: #E64C65;
    font-size: 23px;
    border-radius: 5px;
    color: white;
    border-color: #E64C65
}

.price {
    text-align: right;
    vertical-align: middle;
    font-size: 65px;
    height: 100%;
    margin-bottom: 15px;
}

.coupons-code {
    font-size: 20px;
}

.code-input {
    color: #E64C65 !important;
    font-size: 15px !important;
    text-align: center;
    border-radius: 0px !important;
    max-width: 120px;
    height: 23px !important;
}

.get-coupon-link {
    text-align: center;
    text-decoration: none;
    color: #24B0C9 !important;
}

.content-padding {
    padding: 5px !important;
}